html{
    margin: 0;
    padding: 0;
}
p{
    font-size: 16px;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
}

/* trabajo en el header */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenedor-a{
    margin-right: 40px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
}
.logo{
    margin-left: 40px;
}



/* trabajo en la section hero */
.hero{
    background-color: blue;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.texto-hero{
    margin: 40px;
    width: 50%;
}
.img-hero{
    width: 50%;
    margin-right: 40px;
    background-color: red;
}
.hero h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    width: 100%;
    line-height: 1.5;
    color: hsl(243, 87%, 12%);
}
.hero p{
    width: 85%;
}
.hero input{
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #68676E; 
    border-radius: 5px;
    width: 43%;
}
.hero button{
    background-color: #2F65F9;
    color: white;
    padding: 10px;
    width: 25%;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 0px 3px #EFECEB;
}



/* trabajo en la seccion stay-productive */
.stay-productive{
    margin-bottom: 5%;
    margin-top: 15%;
}
.curva{
    width: 100%;
    margin-bottom: -5px;
}
.todo{
    
    display: flex;
    align-items: center;
    background-color: #F9F8FE;
}

.texto-iz{
    margin-left: 40px;
}
.stay-productive h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: hsl(243, 87%, 12%);
}
.stay-productive p{
    width: 75%;
}
.svg-stay{
    margin: -250px;
    transform: scale(.5);
}
.stay-productive button{
    background-color: #F9F8FE;
    color: #6CAEA4;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #658B86;
}
.testimonio{
    background-color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 15%;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 0px 0px 3px #F5F4FB;
}
.testimonio p{
    margin-left: 10px;
    width: 90%;
}
.contenedor-kyle{
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 55px;
}
.img-kyle{
    border-radius: 50%;
    transform: scale(.4);
    margin-left: -35px;
}
.texto-kyle{
    /* background-color: #68676E; */
    font-size: 15px;
    width: 100%;
    margin-left: -25px;
    line-height: 0.5;
}
.texto-kyle span{
    font-weight: bold;
}
.texto-kyle p{
    font-size: 10px;
}
.test-img{
    margin-left: 10px;
    width: 20px;
}
.img-dr{
    width: 40%;
    margin-right: 40px;
}
