html{
    margin: 0;
    padding: 0;
}
p{
    font-size: 16px;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
}

/* trabajo en el header */
header{
    width: 100%;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenedor-a{
    margin-right: 40px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
}
.logo{
    margin-left: 40px;
}



/* trabajo en la section hero */
.hero{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.texto-hero{
    margin: 40px;
}
.contenedor-img{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 40px;

}
.img-hero{
    width: 100%;
}
.hero h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    width: 100%;
    line-height: 1.5;
    color: hsl(243, 87%, 12%);
}
.hero p{
    width: 95%;
}
form{
    display: flex;
}
.contenedor-input{
    width: 50%;
}
.hero input{
    width: 92%;
    padding: 10px;
    border: 1px solid #68676E;
    border-radius: 5px;
}
.hero input:invalid{
    display: block;
    border: 1px solid red; 
}
.error{
    visibility: hidden;
}
.hero input[type=email]:invalid + .error::before{
    content: 'Plese check your email';
    visibility: visible;
    color: red;
    font-size: 15px;
}
.contenedor-button{
    margin-left: 25px;
}
.hero button{
    background-color: #2F65F9;
    color: white;
    padding: 10px 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 0px 3px #EFECEB;
    transition: .5s;
    cursor: pointer;
}
.hero button:hover{
    background-color: #6D9BFD;
}



/* trabajo en la seccion stay-productive */
.stay-productive{
    margin-top: 15%;
}
.contenedor-wave{
    background-color: red;
    position: relative;
    width: 100%;
    left: 0;
    overflow: hidden;
   
}
.wave{
    left: 0;
    width: 100%;
    height: 110px;
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
}
.todo{
    display: flex;
    align-items: center;
    background-color: #F9F8FE;
}

.texto-iz{
    margin-left: 40px;
}
.stay-productive h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: hsl(243, 87%, 12%);
}
.stay-productive p{
    width: 75%;
}
.stay-productive button{
    background-color: #F9F8FE;
    display: flex;
    align-items: center;
    color: #6CAEA4;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #658B86;
    transition: .5s;
}
.stay-productive button:hover{
    color: #82E1D0;
    border-bottom: 1px solid #82E1D0;
}
.flecha{
    margin-left: 8px;
}
.flecha use{
    transition: .5s;
}
.flecha use:hover{
    fill: #82E1D0;
}
.testimonio{
    background-color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 15%;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 0px 0px 3px #F5F4FB;
}
.testimonio p{
    margin-left: 10px;
    width: 90%;
}
.contenedor-kyle{
    display: flex;
    height: 55px;
}
.img-kyle{
    border-radius: 50%;
    margin-left: 10px;
}
.texto-kyle{
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 0.5;
}
.texto-kyle span{
    font-weight: bold;
    margin-left: 10px;
}
.texto-kyle p{
    font-size: 10px;
}
.comillas{
    margin-left: 10px;
    width: 20px;
}
.img-dr{
    width: 40%;
    margin-right: 40px;
}



/* trabajo en la seccion get early */
.get-early{
    background-color: #575989;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}
.texto-izquierda{
    color: #F4FAF9;
    width: 38%;
    margin-left: 40px;
}
.texto-izquierda h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.get-early form{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    width: 40%;
}
.get-early input{
    padding: 18px;
    margin-right: 15px;
    border: 1px solid #68676E;
    border-radius: 5px; 
}
.get-early input:invalid{
    display: block;
    border: 1px solid red; 
}
.error{
    visibility: hidden;
}
.get-early input[type=email]:invalid + .error::before{
    content: 'Plese check your email';
    visibility: visible;
    color: red;
    font-size: 15px;
    margin-top: 0;
}
.get-early form button{
    margin-top: 25px;
    width: 40%;
    background-color: #2F65F9;
    color: white;
    padding: 15px;
    border: none;
    box-shadow: 1.5px 1.5px 0px 1.5px #535382;
    cursor: pointer;
    transition: .5s;
}
.get-early form button:hover{
    background-color: #6D9BFD;
}




/* trabajo en el footer */
footer{
    background-color: #07043B;
    color: #FEFFFF;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 40px;
}
.texto1{
    margin-left: 40px;
}
.tel{
    display: flex;
    align-items: center;
    width: 280px;
}
.img-tel{
    transform: scale(.8);
    padding: 5%;
}
.email{
    display: flex;
    align-items: center;
    width: 280px;
}
.img-email{
    transform: scale(.8);
    padding: 5%;
}
.contenedor-t2t3{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.contenedor-t2t3 p{
    transition: .5s;
    cursor: pointer;
}
.contenedor-t2t3 p:hover{
    color: #5E76CA;
}
.texto2{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-top: 50px;
    width: 36%;
}
.texto3{
    margin-right: 240px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 12%;
    height: 20%;
    margin-top: 70px;
    cursor: pointer;
}
.texto3 svg{
    width: 25px;
   height: 25px;
}
.facebook{
    transition: .5s;
}
.facebook:hover{
    fill: #5E76CA;
}
.twitter{
    transition: .5s;
}
.twitter:hover{
    fill: #5E76CA;
}
.instagram{
    transition: .5s;
}
.instagram:hover{
    fill: #5E76CA;
}
